/* line 3, ../sass/style.scss */
body {
  background: turquoise;
}

/* line 7, ../sass/style.scss */
.breadcrumb {
  display: inline-block;
  list-style-type: none;
}
/* line 10, ../sass/style.scss */
.breadcrumb ul li:hover {
  background: green;
}

/* line 21, ../sass/style.scss */
.text {
  border: solid black 10px;
}
